.Ai\(c\) { align-items: center; }
.Ai\(st\) { align-items: stretch; }
.As\(fs\) { align-self: flex-start; }
.Ar\(1\/1\) { aspect-ratio: 1/1; }
.Bd {
  border-width: 1px;
  border-style: solid;
}
.Bd\(n\) { border: none; }
.Bdrs\(0\.25rem\) { border-radius: 0.25rem; }
.Bdrs\(0\.3rem\) { border-radius: 0.3rem; }
.Bdrs\(1rem\) { border-radius: 1rem; }
.Bdrstend\(1rem\) { border-top-right-radius: 1rem; }
.Bg\(\#111\) { background: #111; }
.Bg\(\#126300\) { background: #126300; }
.Bg\(\#8f0404\) { background: #8f0404; }
.Bg\(\#ddd\) { background: #ddd; }
.Bg\(\#e1f7dc\) { background: #e1f7dc; }
.Bg\(\#ffe3e3\) { background: #ffe3e3; }
.Bgc\(\#222\) { background-color: #222; }
.Bgc\(\#609255\) { background-color: #609255; }
.Bgc\(\#999\) { background-color: #999; }
.Bgc\(\#bbb\) { background-color: #bbb; }
.Bgc\(\#d40c02\) { background-color: #d40c02; }
.Bgc\(\#ddd\), .Bgc\(\#ddd\)\:h:hover { background-color: #ddd; }
.Bgc\(\#fff\) { background-color: #fff; }
.Bgc\(\#111\)\:h:hover { background-color: #111; }
.C\(\#222\) { color: #222; }
.C\(\#ddd\) { color: #ddd; }
.C\(\#eee\) { color: #eee; }
.C\(\#f7e38f\), .C\(\#f7e38f\)\:h:hover { color: #f7e38f; }
.C\(\#fff\) { color: #fff; }
.C\(\#000\)\:h:hover { color: #000; }
.C\(\#7fff17\)\:h:hover { color: #7fff17; }
.C\(\#ffd51a\)\:h:hover { color: #ffd51a; }
.C\(red\)\:h:hover { color: red; }
.Colmg\(0\.5rem\) { column-gap: 0.5rem; }
.Colmg\(1rem\) { column-gap: 1rem; }
.Colmg\(2rem\) { column-gap: 2rem; }
.Cur\(d\)\:h:hover { cursor: default; }
.Cur\(p\)\:h:hover { cursor: pointer; }
.D\(b\) { display: block; }
.D\(f\) { display: flex; }
.D\(g\) { display: grid; }
.D\(n\) { display: none; }
.Fxg\(1\) { flex-grow: 1; }
.Fld\(c\) { flex-direction: column; }
.Fld\(r\) { flex-direction: row; }
.Jc\(c\) { justify-content: center; }
.Jc\(sb\) { justify-content: space-between; }
.Fl\(end\) { float: right; }
.Fw\(600\) { font-weight: 600; }
.Fz\(1\.1rem\) { font-size: 1.1rem; }
.Fz\(1\.2rem\) { font-size: 1.2rem; }
.Fz\(1\.4rem\) { font-size: 1.4rem; }
.Fz\(1rem\) { font-size: 1rem; }
.H\(2rem\) { height: 2rem; }
.H\(40rem\) { height: 40rem; }
.Lh\(100\%\) { line-height: 100%; }
.M\(0\) { margin: 0; }
.M\(1rem\) { margin: 1rem; }
.M\(a\) { margin: auto; }
.Mt\(0\.125rem\) { margin-top: 0.125rem; }
.Mend\(-0\.7rem\) { margin-right: -0.7rem; }
.Mb\(0\.25rem\) { margin-bottom: 0.25rem; }
.Mb\(0\.5rem\) { margin-bottom: 0.5rem; }
.Mb\(1rem\) { margin-bottom: 1rem; }
.Mstart\(0\.25rem\) { margin-left: 0.25rem; }
.Mstart\(0\.5rem\) { margin-left: 0.5rem; }
.Mih\(1rem\) { min-height: 1rem; }
.Miw\(1rem\) { min-width: 1rem; }
.T\(20\%\) { top: 20%; }
.Start\(50\%\) { left: 50%; }
.Ovy\(a\) { overflow-y: auto; }
.P\(0\.125rem\) { padding: 0.125rem; }
.P\(1\.125rem\) { padding: 1.125rem; }
.P\(1rem\) { padding: 1rem; }
.Pstart\(0\.25rem\) { padding-left: 0.25rem; }
.Pos\(f\) { position: fixed; }
.Pos\(r\) { position: relative; }
.Ta\(c\) { text-align: center; }
.Td\(n\)\:h:hover { text-decoration: none; }
.Tt\(u\) { text-transform: uppercase; }
.Us\(n\) { user-select: none; }
.W\(100\%\) { width: 100%; }
.W\(60\%\) { width: 60%; }
.W\(6rem\) { width: 6rem; }
.W\(7rem\) { width: 7rem; }
.W\(98\%\) { width: 98%; }
.W\(minc\) { width: min-content; }
.Z\(31\) { z-index: 31; }