.document-title {
  text-align: center;
  margin: 2rem 0 1rem;
}

.section-container {
  margin: auto;
  width: 60%;
  background: #ddd;
}

.carousel {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: #111;
}

.carousel__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
}

.carousel__button {
  border: none;
  background: #111;
  color: #fff;
  text-transform: uppercase;
  &:hover {
    color: #7fff17;
  }
}

.section-container__header {
  margin: 1.2rem 0 0 0;
}

.section-container__header--main {
  margin: auto;
  padding: 0.8rem 0;
  text-align: center;
  color: #f7e38f;
}

.section-container__header--pros {
  background: #126300;
  color: #ddd;
}

.section-container__header--cons {
  background: #8f0404;
  color: #ddd;
}

.section-container__paragraph {
  margin: 0;
}

.section-container__paragraph--pros {
  background: #e1f7dc;
}

.section-container__paragraph--cons {
  background: #ffe3e3;
}

.chili-db {
  display: flex;
  flex-direction: column;
}

.chili-db__title {
  text-align: center;
}

.chili-db__menu {
  display: flex;
  flex-flow: row wrap;
}

.chili-db__menu-item {
  padding: 0.7rem;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-top-right-radius: 1rem;
  &:hover {
    background-color: #bbb;
  }
}

.chili-db__browser {
  display: flex;
  flex-direction: row;
}

.chili-db__list-container {
  flex-basis: 30%;
}

.chili-db__preview-column {
  flex-basis: 70%;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-areas:
    "header header"
    "image spec_species"
    "image spec_plant_size"
    "image spec_fruit_size"
    "image spec_spiciness"
    "image spec_shape"
    "image spec_color"
    "description description";
}

.chili-db__preview-title {
  grid-area: header;
  text-align: center;
}

.chili-db__preview-img {
  grid-area: image;
  width: 98%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.chili-db__preview-specs {
  list-style-type: circle;
  margin: 0.5rem 0 0 1.6rem;
}

.chili-db__preview-specs-item--strong {
  font-weight: 600;
}

.chili-db__preview-description {
  grid-area: description;
}

@media (max-width: 1280px) {
  .section-container {
    width: 95%;
  }

  body {
    font-size: 1.1rem;
  }

  code {
    font-size: 1rem;
  }
}