.documentTitle {
  text-align: center;
  margin: 2rem 0 1rem;
}

.sectionContainer {
  margin: auto;
  width: 60%;
}

.carousel {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
}

.buttonBorderless {
  border: none;
  color: white;
  text-transform: uppercase;
  &:hover {
    color: #7fff17;
  }
}

.subheader {
  margin: 1.2rem 0 0 0;
}

.sectionTitle {
  margin: auto;
  padding: 0.8rem 0;
  text-align: center;
}

.paragraph {
  margin: 0;
}

.bgGreyLight {
  background: #ddd;
}

.bgGreyDark {
  background: #111;
}

.bgPros {
  background: #e1f7dc;
}

.bgCons {
  background: #ffe3e3;
}

.clYellowPale {
  color: #f7e38f;
}

.billetPros {
  background: #126300;
  color: #ddd;
}

.billetCons {
  background: #8f0404;
  color: #ddd;
}

@media (max-width: 1280px) {
  .sectionContainer {
    width: 95%;
  }

  body {
    font-size: 1.1rem;
  }

  code {
    font-size: 1rem;
  }
}